@use '../../styles/variables';
@use '../../styles/mixins';

.offerItem {
  border: 1px solid variables.$light-grey-4;
  height: 200px;
  padding: 0 40px;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: 650px auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'title icon'
    'desc icon';

  @include mixins.mq(tablet-large) {
    height: auto;
    padding: 16px;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-areas:
      'title icon'
      'desc desc';
  }

  &_title {
    margin: auto 0;
    grid-area: title;
  }

  &_description {
    color: variables.$dark-grey;
    grid-area: desc;
  }

  &_icon {
    display: grid;
    place-items: center;
    justify-self: end;
    grid-area: icon;
  }
}
