@use '../../styles/variables';
@use '../../styles/mixins';

.button {
  height: 60px;
  background-color: variables.$orange;
  color: variables.$main-color;
  font-size: 1.6rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: variables.$orange-2;
  }
}
