@use '../../styles/variables';
@use '../../styles/mixins';

.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
  grid-template-areas:
    'firstName message message'
    'email message message'
    'phoneNumber message message'
    'none none submit';

  @include mixins.mq(tablet) {
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 220px auto;
    grid-template-areas:
      'firstName'
      'email'
      'phoneNumber'
      'message'
      'submit';
  }
}

.firstNameInput {
  grid-area: firstName;
}

.emailInput {
  grid-area: email;
}

.phoneNumberInput {
  grid-area: phoneNumber;
}

.messageInput {
  grid-area: message;
  height: 100%;
}

.submitButton {
  grid-area: submit;
  font-weight: 700;
  justify-self: end;

  @include mixins.mq(tablet) {
    width: 100%;
  }
}

.successMessage,
.errorMessage {
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.successMessage {
  color: variables.$success;
}

.errorMessage {
  color: variables.$error-red;
}
