.socialIcons {
  margin-bottom: 20px;
  width: 100px;
  display: flex;
  justify-content: space-between;

  &_icon {
    width: 32px;
    height: 32px;
    background-size: cover;
  }

  &_facebookIcon {
    background-image: url('../../../assets/images/facebookGrey.png');
    &:hover {
      background-image: url('../../../assets/images/facebookOrange.png');
    }
  }

  &_instagramIcon {
    background-image: url('../../../assets/images/instagramGrey.png');
    &:hover {
      background-image: url('../../../assets/images/instagramOrange.png');
    }
  }
}
