@use '../../../styles/variables';
@use '../../../styles/mixins';

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: variables.$main-color;
  width: 100%;
  height: 100vh;
  left: -100%;
  position: relative;
  transition: 0.4s;
  z-index: 9999;
  @include mixins.mq(tablet) {
    left: 0;
    height: 7rem;
    background: none;
    width: 100%;
  }

  &_opened {
    left: 0;
  }

  &_item_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mixins.mq(tablet) {
      flex-direction: row;
    }
  }
  &_item {
    padding: 2.5rem 0;
    @include mixins.mq(tablet) {
      padding: 0;
    }

    &_social {
      display: block;
      @include mixins.mq(tablet) {
        display: none;
      }
    }
  }

  &_link {
    font-size: 2rem;
    color: #fff;
    position: relative;

    @include mixins.mq(tablet) {
      margin: 0 2rem;
    }

    &_social {
      margin: 0 1.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      height: 2px;
      background: #d709d8;
      transition: 0.4s all;
    }

    &:hover,
    &_active {
      &::before {
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }

  &_icon {
    @include mixins.icon;
  }
}
