$main-color: #fff;
$light-grey: #eee;
$light-grey-2: #c6c6c6;
$light-grey-3: #a1a1a1;
$light-grey-4: #e9e9e9;
$light-grey-5: #f0f0f0;
$dark-grey: #595959;
$black: #000;
$orange: #fb6a46;
$orange-2: #fa3605;
$error-red: red;
$success: #00ff00;

$breakpoints: (
  smartphone-verysmall: '(max-width: 200px)',
  smartphone-small: '(max-width: 360px)',
  smartphone: '(max-width: 460px)',
  smartphone-large: '(max-width: 640px)',
  tablet: '(max-width: 800px)',
  tablet-large: '(max-width: 1024px)',
  desktop-small: '(max-width: 1280px)',
  desktop-medium: '(max-width: 1600px)',
  desktop-large: '(max-width: 1900px)',
);
