@use './variables';
@use './mixins';

.aboutMe {
  padding: 60px 20px 20px 20px;
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'title title'
    'photo description';

  @include mixins.mq(smartphone-large) {
    grid-template-columns: 1fr;
    row-gap: 30px;
    grid-template-areas:
      'title'
      'photo'
      'description';
  }

  &_title {
    grid-area: title;
    padding-bottom: 40px;

    @include mixins.mq(smartphone-large) {
      padding-bottom: 0;
    }
  }

  &_photo {
    grid-area: photo;
  }

  .article {
    margin: 0 auto;
    margin-top: -11px;
    grid-area: description;

    p {
      line-height: 2;
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 16px;
      }
    }
  }
}
