@use '../styles/variables';

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../assets/fonts/CenturyGothic/CenturyGothic-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../assets/fonts/CenturyGothic/CenturyGothic-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: variables.$main-color;
  font-family: 'CenturyGothic', sans-serif;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: variables.$light-grey-2 variables.$main-color;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: variables.$main-color;
}

*::-webkit-scrollbar-thumb {
  background-color: variables.$light-grey-2;
  border-radius: 10px;
  border: 3px solid variables.$main-color;
}
