@use './variables';
@use './mixins';

.home_introSection {
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 1fr 382px;
  grid-template-areas:
    'mainText infoText'
    'mainImg mainImg';

  @include mixins.mq(tablet-large) {
    display: block;
    padding-top: 100px;
  }
}

.home_mainImgContainer {
  position: absolute;
  bottom: 0;
  grid-area: mainImg;

  @include mixins.mq(tablet-large) {
    width: 100%;
  }
}

.home_mainText,
.home_mainInfo {
  @include mixins.mq(tablet-large) {
    padding: 0 20px;
  }
}

.home_mainText {
  grid-area: mainText;

  // h2 {
  //   font-size: 4.4rem;
  //   max-width: 650px;
  //   line-height: 1.4;

  //   @include mixins.mq(tablet-large) {
  //     font-size: 2.4rem;
  //   }
  // }

  // h3 {
  //   font-size: 2rem;
  //   text-transform: uppercase;

  //   @include mixins.mq(tablet-large) {
  //     font-size: 1.4rem;
  //   }
  // }
}

.home_mainInfo {
  grid-area: 'mainInfo';

  @include mixins.mq(tablet-large) {
    padding-top: 100px;
  }
}

.home_mainInfoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    padding-bottom: 50px;
  }

  span {
    font-size: 4.4rem;
    color: variables.$light-grey-2;
  }

  p {
    padding-left: 30px;
    font-size: 1.4rem;
  }
}

.home_quote {
  justify-content: center;
  align-items: center;
  blockquote {
    padding: 10px;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
  }

  figcaption {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}
