@use './variables';
@use './mixins';

.home_introSection {
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 1fr 382px;
  grid-template-areas:
    'mainText mainText'
    'mainImg mainImg';

  @include mixins.mq(tablet-large) {
    grid-template-rows: 1fr 190px;
    padding-top: 50px;
  }
}

.home_mainImgContainer {
  position: absolute;
  bottom: 0;
  grid-area: mainImg;

  @include mixins.mq(tablet-large) {
    width: 100%;
  }
}

.home_mainText {
  grid-area: mainText;
  @include mixins.mq(tablet-large) {
    padding: 0 20px;
    padding-top: 50px;
  }
}

.home_quote {
  max-width: 800px;
  align-self: end;
  blockquote {
    padding: 10px;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;

    @include mixins.mq(tablet-large) {
      font-size: 1.6rem;
      margin: 0;
      padding: 0;
    }
  }

  figcaption {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;

    @include mixins.mq(tablet-large) {
      padding-top: 20px;
      font-size: 1.3rem;
    }
  }
}
