@use './variables';
@use './mixins';

.offer {
  padding: 60px 20px 20px 20px;

  &_wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  &_content {
    margin-bottom: 20px;
  }

  &_mainTitle {
    font-size: 4.4rem;
    max-width: 480px;
    width: 100%;

    @include mixins.mq(tablet-large) {
      font-size: 2.4rem;
    }
  }

  &_mainDescription {
    margin-top: 20px;
    font-size: 2rem;

    @include mixins.mq(tablet-large) {
      margin-top: 30px;
      font-size: 1.6rem;
    }
  }
}
